.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(247 245 238);
}

.main {
  flex: 1;
  width: 100%;
  max-width: max(1440px, 80%);
  margin: 0 auto;
  padding: 2rem;
} 